body {
	margin: 0 0 0 0;
}

@media screen and (min-width: 768px) {
    body {
    	margin-left: auto;
    	margin-right: auto;
		width: 768px;
    }
}

#information ul {
	list-style: none;
	border: 2px solid black;
	background: #eee;
	height: calc(5vh - 4px);
	width: 100%;
	padding: 0;
	margin: 0;
}

#information li {
	float: left;
	border: none;
	margin: 0;
	width: calc(33.3% - 4px);
	height: calc(100% - 4px);
}

#information a {
	text-decoration: none;
	display: block;
	padding: 0 1em;
	line-height: calc(5vh - 4px);
	height: 100%;
}

#information #date a {
	text-align: left;
	padding-left: 5%;
}

#information #employee a {
	text-align: center;
}

#information #time a {
	text-align: right;
	padding-right: 5%;
}

#functions ul {
	list-style: none;
	border: 2px solid green;
	background: #999;
	height: calc(10vh - 4px);
	width: 100%;
	padding: 0;
	margin: 0;
}

#functions li {
	float: left;
	border: 2px solid black;
	margin: 0;
	width: calc(20% - 4px);
	height: calc(100% - 4px);
}

#functions a {
	text-decoration: none;
	display: block;
	background: #eee;
	padding: 0 1em;
	color: #00c;
	text-align: center;
	line-height: calc(10vh - 4px);
	height: 100%;
}

#functions a:hover {
	background: #ddf;
}

#functions #selected {
	border-color: black;
}

#functions #selected a {
	position: relative;
	background: white;
	color: black;
	font-weight: bold;
}

#panels ul {
	list-style: none;
	border: 2px solid black;
	height: calc(85vh - 4px);
	width: 100% auto;
	padding: 0;
	margin: 0;
}

#panels #leftpanel {
	float: left;
	border: 2px solid black;
	margin: 0;
	width: calc(15% - 4px);
	height: calc(100% - 4px);
}

#panels #leftpanel #activetables ul {
	border: none;
	height: calc(100% - 4px);
}

#panels #leftpanel #activetables li {
	border: 2px solid black;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	margin-bottom: 15%;
	width: calc(10vh - 4px);
	height: calc(10vh - 4px);
/*	/height: calc(10% - 4px);*/
}

#panels #leftpanel #activetables a {
	display: block;
	line-height: calc(10vh - 4px);
	text-align: center;
}

#panels #leftpanel #activetables li:hover {
	background: #ddf;
}

#panels #middlepanel {
	border: 2px solid black;
	float: left;
	margin: 0;
	width: calc(60% - 4px);
	height:100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
	border: 2px solid black;
	border-radius: 50%;
	background-color: #eee;
	margin: 1em;
	padding: 1em;
	text-align: center;
}

.wrapper > div:hover {
	background: #ddf;
}

#addtablepanel {
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	width: calc(80% - 4px);
	height: 200px;
}

#panels #rightpanel {
	float: left;
	border: 2px solid black;
	background: #eee;
	margin: 0;
	width: calc(25% - 4px);
	height: calc(100% - 4px);
}

/**Pratik Css for Menu Panels*/
.menu-Buttons .NavBar{
	border-radius: 50%;
	background-color: #595959;
	color: white;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	cursor: pointer;
	display: block;
	margin: 4px 2px;
	padding: 19px 3px;
	width: 80%;
	border: 1px solid black;
	height: 100;
	float: left;
}

.menu-Buttons .NavBar:not(last-child){
	border-bottom: none;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}

.drink-type{
	overflow: hidden;
	background-color: #333;
}

.drink-type a{

	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-bottom: 3px solid transparent;
}
.drink-type a:hover{
	border-bottom: 3px solid red;
}

#specialsHeading{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
 .specials-list{
 	border: none;
 	margin-top: 10px;
 }

 #chefSpecial{
 	display: inline-block;
 	position: relative;
 	padding: 12px;

}

input{
	float: right;
	padding: 5px;
	width: 10%;
	padding-left: 10px;
	margin: 4px 2px;
	text-align: center;
}

 #appetizers-menu{
 	padding: 8px;
 }

 #entrees-menu{
 	padding: 8px;
 }
 #deserts-menu{
 	padding: 8px;
 }
 #beers-menu{
 	padding: 8px;
 }
 #wines-menu{
 	padding: 8px;
 }

 #mixed-menu{
 	padding: 8px;
 }

 #fountain-menu{
 	padding: 8px;
 }

.confirm-button{
	display: inline-block;
	padding: 15px 45px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	margin: 10px;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 8px #999;
}

.confirm-button:hover{
	background-color: #3e8e41;
}
.confirm-button:active{
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
/*****End Of Pratik Css File****/